.guvefloatingbtn {
	background: #8ac007 none repeat scroll 0 0 !important;
    color: #fff !important;
    font-weight: bold !important;
    position: fixed;
    right: 42px;
    top: 49px;
	padding:4px 10px;
}